@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    background: #f8f8f8;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.container_header{
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 250px;
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
}

.logo {
    float: left;
    padding-top: 1%;
}

header nav {
    float: right;
}

header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
}

header a {
    color: #0e0d0d;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

header a:hover {
    color: #af0000;
}

header a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #af0000;
  
    position: relative;
    bottom: 24px;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
  
header a:hover::before {
    width: 100%;
}

.container_footer{
    clear: both;
    position: relative;
    width: 100%;
    background-color: #6e6e6e;
    color:#ffffff;
}

.contact_us {
    color: #e9e9e9;
    padding-top: 0.25%; 
    padding-left: 8%;
    display: table;
    float: left;
    list-style-type: none; 
    font-size: larger; 
}

.follow_us {
    color: #e9e9e9;
    padding-left: 15%;
    padding-bottom: 0.5%;
    display: table;
    list-style-type: none; 
    font-size: larger; 
}

.footer_comp_name {
    color: #e9e9e9;
    padding-top: 1%; 
    padding-left: 3%; 
    font-size: xx-large;
}

.social_link {
    color: #e9e9e9;
    text-decoration: none; 
}

.social_link:hover {
    color: #ff2f2f;
}

.footer_logo {
    float: right;
    padding-top: 2%;
    padding-right: 15%;
}

.copyright {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: small;
    padding-top: 0.25%;
}

.slideshow-container {
    object-fit: cover;
    padding-top: 5px;
    width: 65%;
    position: relative;
    margin: auto;
}

  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    opacity: 0.5;
    background-color: #000000;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.contact_list li {
    padding-top: 3%;
    padding-left: 10%;
    list-style: none;
    font-size:large;
}

.news_button {
    border: none;
    background-color: #f8f8f8;
    color: #0e0d0d;
    padding: 1% 3%;
    text-align: center;
    display: inline-block;
    font-size: larger;
    cursor: pointer;
}

.news_button:hover {
    color: #ffffff;
    background-color: #af0000;

}

.event_button {
    margin-left: 0.5%;
    height: 40px;
    border: none;
    font-size: larger;
    background-color: #f8f8f8;
    color: #0e0d0d;
    cursor: pointer;
}

.event_button:hover {
    color: #ffffff;
    background-color: #a3a3a3;

}