@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    background: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.container{
    width: 90%;
    margin: 0 auto;
}


header {
    background: #eaeee9;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #0e0d0d;
    text-decoration: none;
    font-size: xx-large;
}

nav a:hover {
    color: #af0000;
    /*text-decoration: underline;*/
}


nav a::before {
    content: '';
    display: block;
    height: 9px;
    background-color: #af0000;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  