@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    background: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

.container_header{
    width: 90%;
    margin: 0 auto;
}


header {
    background: #F1F1F1;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav {
    float: right;
}

header ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
}

header a {
    color: #0e0d0d;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

header a:hover {
    color: #af0000;
}

header a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #af0000;
  
    position: relative;
    bottom: 24px;
    width: 0%;
  
    transition: all ease-in-out 250ms;
}
  
header a:hover::before {
    width: 100%;
}

.container_footer {
    position: absolute;
    width: 100%;
    background: #c2c2c2;
  }

.logo2 {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

footer nav {
    float: left;
}

footer ul {
    margin: 0%;
    padding: 0%;
}

footer li.tab {
    display: inline-table;
    margin-left: 70px;
    padding-top: 30px;
}
  
footer a {
    color: #0e0d0d;
    text-decoration: none;
    font-size: larger;
}

footer a:hover {
    color: #af0000;
}

footer li.info {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    list-style: none;
    font-size: medium;
}

footer p {
    padding-left: 8px;
    font-size: small;
    background-color: #c2c2c2;
    color: #0e0d0d;
}

.container_bg {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_bg::before {
    content: "";
    background-image: url(../images/1.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

.bg_text {
    position: relative;
    color: #000000;
    font-size: xx-large;
    font-weight: bold;
    padding: 200px 100px;
}

.slideshow-container {
    padding-top: 5px;
    max-width: 75%;
    position: relative;
    margin: auto;
}

  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000000;
}

.numbertext {
    padding-top: 400px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    font-weight: bold;
    font-size: x-large;
    position: absolute;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.login_t {
    padding-top: 100px;
    padding-left: 25%;
}

.login_form {
    padding-left: 23%;
}